body {
  background-image: url(https://www.shutterstock.com/image-vector/vector-seamless-pattern-blogging-social-600nw-434264536.jpg);
  display: flex;
  gap: 1rem;
  flex: 1 1 auto;
  padding: 1rem;
}
.content {
  margin: auto;
  text-align: center;
  align-content: center;
  max-width: 100%;
  height: auto;
}
.buttons {
  display: flex;
  padding: 0.7em;
  background-color: gray;
  border-top: none;
  border-radius: 10px;
  align-content: center;
  margin: 1rem;
  max-width: 100%;
  height: auto;
}
.button {
  margin: auto;
  padding: 0.7em;
  color: rgb(250, 1, 1);
  align-content: center;
  max-width: 100%;
  height: auto;
}
.info {
  gap: 1rem;
  flex: 1 1 auto;
  background-color: white;
  border: black;
  border-radius: 10px;
  align-content: center;
  margin: 1rem;
  text-align: center;
}
.table-div {
  background-color: rgb(255, 255, 255);
  align-content: center;
  padding: 0.5em;
}
table {
  width: 100%;
}
.week {
  padding: 2em;
}
#buttons {
  align-content: center;
  justify-content: center;
}
img {
  max-width: 100%;
  height: auto;
}